*.pyc
venv/*
authentication/*.pyc
publicportal/*.pyc
authentication/migrations/*
foundation/migrations/*
media/complaint_images/*
media/needsapproval/*
media/*
drivenav/migrations/*
templates/driver/data/*
