.row {
    margin: 0 -7.5px
}

.row.gridalicious {
    margin: 0 -15px
}

.row [class*=col-] {
    padding: 0 7.5px
}

.row [class*=col-].control-label {
    padding-top: 6px
}

.form-horizontal .form-group {
    margin-left: -7.5px;
    margin-right: -7.5px
}

#content {
    min-width: 320px
}

.footer {
    text-align: center;
    color: #888;
    font-weight: 500;
    background: #fff;
    height: 45px;
    line-height: 45px;
    display: block
}

.container-fluid .footer {
    margin: 0 -15px
}

[class*=ls-bottom-footer] .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-shadow: 0 -3px 5px -3px rgba(0,0,0,.15);
    z-index: 101
}

.ls-bottom-footer body {
    padding-bottom: 60px
}

.ls-bottom-footer-fixed body {
    padding-bottom: 45px
}

html.app-mobile,html.app-mobile #content,html.app-mobile #content .container-fluid,html.app-mobile .ui-view-main,html.app-mobile .ui-view-main>.container,html.app-mobile body,html.app-mobile body>.container {
    height: 100%;
    overflow: hidden;
    position: relative
}

@media (min-width: 768px) {
    html.app-desktop,html.app-desktop #content,html.app-desktop #content .container-fluid,html.app-desktop .ui-view-main,html.app-desktop .ui-view-main>.container,html.app-desktop body,html.app-desktop body>.container {
        height:100%;
        overflow: hidden;
        position: relative
    }
}

.split-vertical {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 240px;
    border-spacing: 0
}

.split-vertical .split-vertical-body {
    display: table-row;
    height: 100%
}

.split-vertical .split-vertical-body>.split-vertical-cell {
    position: relative;
    width: 100%;
    height: 100%
}

.split-vertical .split-vertical-body>.split-vertical-cell>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto
}

.split-vertical #dropdown-temp {
    display: table-row
}

[data-scrollable] {
    position: relative;
    height: 100%;
    overflow-x: hidden
}

[data-scrollable-h] {
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow-x: scroll
}

.list-group-item .cover.overlay {
    margin: -9px -13px
}
