.jvectormap-zoomin,.jvectormap-zoomout {
    box-sizing: content-box;
    background: #26a69a
}

.jvectormap-label {
    z-index: 1;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #26a69a;
    padding: 3px 5px
}

.jvm-legend-item {
    width: 10px;
    height: 10px;
    margin-right: 5px
}

#world-map-markers.fs {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.maps-google-fs {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden
}

.gm-style-iw>div {
    width: auto!important
}

.gm-style {
    font-size: 14px
}

.infoBox {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2)
}

.infoBox>div {
    max-width: 240px;
    max-height: 390px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px
}

.infoBox>div>:last-child {
    margin-bottom: 0
}

.infoBox>div>.full {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0
}

.infoBox>div>.full>.list-group .list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0
}

.infoBox>img {
    position: absolute!important;
    top: 5px;
    right: 5px;
    z-index: 10;
    margin: 0!important
}

[data-toggle=google-maps] #pagination {
    width: 100%;
    overflow: hidden;
    min-width: 220px
}

[data-toggle=google-maps] #pagination .btn {
    border-radius: 0
}

[data-toggle=google-maps][data-pagination-position*=BOTTOM] #pagination {
    width: auto
}

.map-overlay,.map-overlay-panel,.map-overlay-sidebar,.navbar-map-overlay {
    background-color: rgba(255,255,255,.9);
    border-color: #e2e9e6;
    box-shadow: 0 3px 5px -3px rgba(0,0,0,.15)
}

.navbar-map-overlay {
    background-color: rgba(255,255,255,.8);
    z-index: 2
}

.map-overlay-sidebar {
    padding: 15px;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}

.map-overlay-panel {
    padding: 15px
}

.map-overlay-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

[data-pagination=true]+.map-overlay-top {
    top: 45px
}

[data-pagination=true][data-pagination-position*=BOTTOM]+.map-overlay-top {
    top: 0
}
