.top-navbar body,.top-navbar-large body {
    padding-top: 50px
}

@media (min-width: 992px) {
    .top-navbar-large body {
        padding-top:60px
    }
}

.top-navbar-small body {
    padding-top: 42px
}

.ls-top-navbar body,.ls-top-navbar-large body {
    padding-top: 65px
}

@media (min-width: 992px) {
    .ls-top-navbar-large body {
        padding-top:75px
    }
}

.ls-top-navbar-small body {
    padding-top: 57px
}

@media (min-width: 768px) {
    .navbar-form.navbar-right+.navbar-nav.navbar-right,.navbar-nav.navbar-right+.navbar-form.navbar-right {
        margin-right:0
    }
}

@media (min-width: 768px) {
    .navbar-right:last-of-type {
        margin-right:-15px
    }

    .navbar-left-m {
        margin-left: -15px
    }
}

.panel-body>.navbar {
    margin-bottom: 0
}

.navbar-nav .open>a,.navbar-nav .open>a:focus,.navbar-nav .open>a:hover {
    background-color: transparent
}

.navbar-nav>li>a {
    padding: 0 15px;
    height: 50px;
    line-height: 50px
}

.navbar-nav>li>a img {
    margin-right: 3px;
    width: 40px
}

.navbar-nav>li>a:focus,.navbar-nav>li>a:hover {
    background-color: transparent
}

.navbar-nav>li>a.dropdown-toggle {
    padding: 0 15px;
    height: 50px;
    line-height: 50px
}

.navbar-nav>li>a.dropdown-toggle img {
    margin-top: -2px;
    margin-right: 3px;
    max-width: 30px;
    display: inline-block!important
}

.navbar-size-small .navbar-nav>li>a.dropdown-toggle img {
    max-width: 30px
}

.navbar-size-small .navbar-nav>li>a.dropdown-toggle {
    height: 42px;
    line-height: 42px
}

.navbar.navbar-size-small {
    min-height: 42px
}

.navbar.navbar-size-small .navbar-toggle {
    padding: 7px 8px;
    margin-top: 6px;
    margin-bottom: 6px
}

.navbar.navbar-size-small .navbar-nav {
    margin-top: 5.5px;
    margin-bottom: 5.5px
}

.navbar.navbar-size-small .navbar-nav>li>a {
    height: 42px;
    line-height: 42px
}

@media (min-width: 768px) {
    .navbar.navbar-size-small .navbar-nav {
        margin:0
    }
}

.navbar.navbar-size-small .navbar-btn,.navbar.navbar-size-small .navbar-form {
    margin-top: 4px;
    margin-bottom: 4px
}

.navbar.navbar-size-small .navbar-btn.btn-sm {
    margin-top: 6px;
    margin-bottom: 6px
}

.navbar.navbar-size-small .navbar-btn.btn-xs {
    margin-top: 10px;
    margin-bottom: 10px
}

.navbar.navbar-size-small .navbar-text {
    margin-top: 11px;
    margin-bottom: 11px
}

@media (min-width: 992px) {
    .navbar.navbar-size-large {
        min-height:60px
    }

    .navbar.navbar-size-large .navbar-toggle {
        padding: 7px 8px;
        margin-top: 15px;
        margin-bottom: 15px
    }

    .navbar.navbar-size-large .navbar-nav {
        margin-top: 10px;
        margin-bottom: 10px
    }

    .navbar.navbar-size-large .navbar-nav>li>a {
        height: 60px;
        line-height: 60px;
        font-size: 15px
    }

    .navbar.navbar-size-large .navbar-nav>li>a>i {
        font-size: 18px
    }

    .navbar.navbar-size-large .navbar-btn,.navbar.navbar-size-large .navbar-form {
        margin-top: 13px;
        margin-bottom: 13px
    }

    .navbar.navbar-size-large .navbar-btn.btn-sm {
        margin-top: 7px;
        margin-bottom: 7px
    }

    .navbar.navbar-size-large .navbar-btn.btn-xs {
        margin-top: 19px;
        margin-bottom: 19px
    }

    .navbar.navbar-size-large .navbar-text {
        margin-top: 20px;
        margin-bottom: 20px
    }
}

@media (min-width: 992px) and (min-width:768px) {
    .navbar.navbar-size-large .navbar-nav {
        margin:0
    }
}

.navbar.navbar-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.navbar.navbar-absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.navbar-brand {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700
}

.navbar-brand a:hover,.navbar-brand:hover {
    text-decoration: none
}

.navbar-brand+.navbar-brand {
    margin-left: 0!important
}

.navbar-size-small .navbar-brand {
    height: 42px;
    line-height: 42px
}

@media (min-width: 992px) {
    .navbar-size-large .navbar-brand {
        height:60px;
        line-height: 60px
    }
}

.navbar-brand.navbar-brand-logo {
    padding-left: 0
}

.navbar-brand.navbar-brand-logo img {
    height: 50px!important;
    width: auto!important;
    display: inline-block!important;
    vertical-align: top
}

.navbar-size-small .navbar-brand.navbar-brand-logo img {
    height: 42px!important
}

@media (min-width: 992px) {
    .navbar-size-large .navbar-brand.navbar-brand-logo img {
        height:60px!important
    }
}

.navbar-brand.navbar-brand-primary,.navbar-brand.navbar-brand-primary:hover {
    background: #26a69a;
    color: #fff
}

.navbar-brand.navbar-brand-primary a,.navbar-brand.navbar-brand-primary:hover a {
    color: #fff
}

.navbar-brand.navbar-brand-primary:after,.navbar-brand.navbar-brand-primary:hover:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -1px;
    height: 1px;
    left: 0;
    right: 0;
    background: #1c7d74
}

@media (min-width: 768px) {
    .navbar-toggle-demo>.container .navbar-brand,.navbar-toggle-demo>.container-fluid .navbar-brand {
        margin-left:0
    }
}

.toggle:hover {
    text-decoration: none
}

.navbar .toggle {
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    display: inline-block;
    font-size: 20px
}

.navbar .toggle.pull-right {
    margin-right: 7.5px
}

.navbar-size-small .toggle {
    height: 42px;
    padding: 0 11px;
    line-height: 42px
}

@media (min-width: 992px) {
    .navbar-size-large .toggle {
        height:60px;
        padding: 0 20px;
        line-height: 60px
    }
}

.navbar-default .toggle {
    color: #7f7f7f
}

.navbar-default .toggle.active,.navbar-primary .toggle {
    background: #22958b;
    color: #fff
}

.navbar-primary .toggle.active {
    color: #26a69a;
    background: #fff
}

@media (min-width: 768px) {
    .navbar-header .toggle {
        border-right:1px solid transparent
    }
}

.nav>li.dropdown.user ul.dropdown-menu i {
    float: right;
    width: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center
}

.nav>li.dropdown.flags ul.dropdown-menu img {
    max-width: 50px
}

.dropdown-menu.min-width-none {
    min-width: 0
}

.nav>li .dropdown-header {
    font-weight: 700;
    padding: 8px 14px;
    color: #b2b2b2;
    border-top: 1px solid #eee
}

@media (max-width: 767px) {
    .open .dropdown-menu .dropdown-header {
        padding:8px 14px
    }
}

@media (min-width: 768px) {
    .navbar-dropdown-hover .navbar-nav>li:hover .dropdown-menu {
        display:block
    }
}

.navbar-nav .dropdown-menu {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-top: 1px
}

@media (min-width: 768px) {
    .navbar-nav .dropdown-menu {
        box-shadow:0 2px 3px #e0e0e0
    }
}

.navbar-nav .dropdown-menu>li>a,.navbar-nav .dropdown-menu>li>a:focus {
    font-weight: 500;
    padding: 8px 14px;
    border-top: 1px solid #efefef
}

.navbar-nav .dropdown-menu>li>a:focus:hover,.navbar-nav .dropdown-menu>li>a:hover {
    color: #797979
}

.navbar-nav .dropdown-menu>li>a i {
    color: #7f7f7f
}

.navbar-nav .dropdown-menu>li a:hover,.navbar-nav .dropdown-menu>li.active>a {
    background: #f5f7f7;
    color: #26a69a
}

.navbar-nav>li.notifications.files img {
    width: 35px!important;
    display: inline-block!important
}

.navbar-nav>li.notifications.updates img {
    width: 20px!important;
    display: inline-block!important
}

.navbar-nav>li.notifications.open a {
    border-color: transparent
}

.navbar-nav>li.notifications a.dropdown-toggle {
    font-size: 18px
}

.navbar-nav>li.notifications a.dropdown-toggle>i {
    margin-right: 10px
}

.navbar-nav>li.notifications a.dropdown-toggle .badge {
    display: inline-block;
    font-size: 12px;
    padding: 3px 6px;
    vertical-align: middle;
    margin-left: -10px
}

@media (min-width: 768px) {
    .navbar-nav>li.notifications a.dropdown-toggle .badge.floating {
        position:absolute;
        top: 8px;
        right: 4px;
        margin: 0
    }
}

.navbar-nav>li.notifications a.dropdown-toggle.btn {
    padding: 0 6px;
    margin: 10px;
    height: 30px;
    line-height: 30px
}

.navbar-size-small .navbar-nav>li.notifications a.dropdown-toggle.btn {
    margin: 5px;
    height: 32px;
    line-height: 32px
}

@media (min-width: 992px) {
    .navbar-size-large .navbar-nav>li.notifications a.dropdown-toggle.btn {
        height:40px;
        line-height: 40px
    }
}

@media (min-width: 768px) {
    .navbar-nav>li.notifications a.dropdown-toggle.btn .floating {
        top:-5px;
        right: -5px
    }
}

@media (min-width: 768px) {
    .navbar-nav>li.notifications .dropdown-menu {
        width:280px
    }
}

.navbar-nav>li.notifications .dropdown-menu .dropdown-header {
    background: #26a69a;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500
}

.navbar-nav>li.notifications .dropdown-menu li {
    border-bottom: 1px solid #eee
}

.navbar-nav>li.notifications .dropdown-menu li.media {
    padding: 10px;
    margin: 0;
    color: #3c4340
}

.navbar-nav>li.notifications .dropdown-menu li.media:hover {
    background: #f4f4f4
}

.navbar-nav>li.notifications .dropdown-menu li.media .media-object {
    width: 30px;
    border-radius: 50%
}

.navbar-nav>li.notifications .dropdown-menu li.media a {
    padding: 0;
    border-top: 0
}

.navbar-nav>li.notifications .dropdown-menu li.media .media-body {
    margin-right: 2px
}

.navbar-nav>li.notifications .dropdown-menu li.media .media-body span {
    font-size: 11px;
    font-weight: 700
}

.navbar-nav>li.notifications .dropdown-menu li.media .media-body .media-heading {
    margin-left: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-weight: 700;
    color: #292d2b
}

.navbar-nav>li.notifications .dropdown-menu li.media .media-body p {
    font-size: 13px
}

.navbar-nav>li.notifications .dropdown-menu li:last-of-type {
    border: none
}

@media (min-width: 768px) {
    .navbar-form .checkbox,.navbar-size-small .navbar-form .checkbox {
        line-height:34px
    }

    .navbar-form .checkbox label {
        font-weight: 700
    }

    .navbar-form .checkbox label:before {
        top: 8px
    }
}

@media (min-width: 768px) and (min-width:992px) {
    .navbar-size-large .navbar-form .checkbox {
        line-height:34px
    }
}

@media (min-width: 768px) {
    .navbar-form .input-group>.form-control.form-control-w-150 {
        width:150px
    }
}

@media (max-width: 767px) {
    .navbar-collapse .navbar-form {
        margin:0;
        border-top: none;
        border-bottom: none;
        box-shadow: none
    }
}

.navbar .dropdown-menu>form {
    padding: 10px
}

.navbar .dropdown-menu.dropdown-size-280 {
    min-width: 280px
}

.navbar-form .bootstrap-switch {
    margin: 1px 0
}

.navbar .slider {
    height: 50px;
    margin: 0 15px
}

.navbar .slider.slider-horizontal {
    width: 100px
}

.navbar .slider .slider-track {
    background-color: #f5f5f5
}

.navbar-size-small .slider {
    height: 42px
}

@media (min-width: 992px) {
    .navbar-size-large .slider {
        height:60px
    }
}

@media (min-width: 768px) {
    .navbar .search-1 {
        float:left
    }

    .navbar .search-1 .input-group {
        height: 50px
    }

    .navbar-size-small.navbar .search-1 .input-group {
        height: 42px
    }

    .navbar .search-1 .input-group-addon {
        height: 50px;
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        background: 0 0;
        border: none;
        border-radius: 0;
        font-weight: 600;
        font-size: 18px
    }

    .navbar-size-small.navbar .search-1 .input-group-addon {
        height: 42px;
        line-height: 42px
    }

    .navbar .search-1 .form-control {
        height: 50px;
        border: none;
        background: 0 0;
        box-shadow: none;
        border-radius: 0
    }

    .navbar-size-small.navbar .search-1 .form-control {
        height: 42px
    }
}

@media (min-width: 768px) and (min-width:992px) {
    .navbar-size-large.navbar .search-1 .input-group {
        height:60px
    }
}

@media (min-width: 768px) and (min-width:992px) {
    .navbar-size-large.navbar .search-1 .input-group-addon {
        height:60px;
        line-height: 60px
    }
}

@media (min-width: 768px) and (min-width:992px) {
    .navbar-size-large.navbar .search-1 .form-control {
        height:60px
    }
}

.navbar .search-2 .btn {
    margin: 0
}

.navbar-subnav {
    background: #242628;
    border: none;
    margin: -15px 0 15px
}

@media (min-width: 768px) {
    .navbar-subnav .navbar-nav>li:first-of-type a {
        padding-left:0
    }
}

.navbar-subnav .navbar-nav>li.active a {
    color: #fff
}

.navbar-subnav .navbar-nav>li>a {
    color: #676767;
    font-weight: 700
}

.navbar-subnav .navbar-nav>li>a:hover {
    background: 0 0;
    color: #fff
}

.navbar-subnav .navbar-nav>li>a i {
    font-size: 18px;
    vertical-align: middle
}

.navbar-subnav .navbar-toggle {
    float: left;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    padding: 2px 6px!important
}

.navbar-subnav .navbar-toggle:focus,.navbar-subnav .navbar-toggle:hover {
    background-color: #111213
}

.navbar-subnav .navbar-toggle .icon-bar {
    background-color: #6c7279
}

@media (max-width: 768px) {
    .navbar-subnav.navbar {
        min-height:48px!important
    }

    .navbar-subnav.navbar .navbar-nav>li>a {
        line-height: 45px
    }

    .navbar-subnav.navbar .navbar-toggle {
        margin-top: 10px;
        margin-bottom: 10px
    }
}

.navbar-subnav.navbar {
    min-height: 70px
}

.navbar-subnav .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px
}

.navbar-subnav .navbar-brand {
    padding: 25px 15px;
    line-height: 20px;
    height: 70px
}

.navbar-subnav .navbar-form {
    margin-top: 18px;
    margin-bottom: 18px
}

.navbar-subnav .navbar-text {
    margin-top: 25px;
    margin-bottom: 25px
}

.navbar-subnav .navbar-btn {
    margin-top: 18px;
    margin-bottom: 18px
}

.navbar-subnav .navbar-btn.btn-sm {
    margin-top: 20px;
    margin-bottom: 20px
}

.navbar-subnav .navbar-btn.btn-xs {
    margin-top: 24px;
    margin-bottom: 24px
}

.navbar-subnav .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px
}

.navbar-default {
    border-bottom: 1px solid #e2e9e6
}

@media (min-width: 768px) {
    .navbar-default .navbar-brand {
        border-right:1px solid #eee
    }

    .navbar-default .navbar-brand.navbar-brand-primary {
        border: none
    }
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav.navbar-right:last-of-type {
        border-left:1px solid #eee
    }

    .navbar-default .navbar-nav.navbar-right:last-of-type>li:last-of-type {
        border-right: none
    }
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav>li {
        border-right:1px solid #eee
    }
}

.navbar-default .navbar-nav>li.active>a i,.navbar-default .navbar-nav>li.open>a i {
    color: #26a69a
}

.navbar-default .navbar-nav>li>a {
    font-weight: 500
}

.navbar-default .navbar-nav>li>a i {
    color: #7f7f7f
}

.navbar-default .navbar-nav>li>a:hover i {
    color: #26a69a
}

.navbar-default .navbar-form .checkbox {
    color: #3c4340
}

.navbar-default .navbar-nav>li.notifications a.dropdown-toggle .badge {
    background: #3c4340
}

.navbar-default .navbar-nav>li.notifications a.dropdown-toggle .badge.badge-primary {
    background: #26a69a
}

.navbar-default .navbar-nav>li.notifications a.dropdown-toggle .badge.badge-danger {
    background: #bd362f
}

.navbar-default .navbar-nav>li.notifications a.dropdown-toggle.btn {
    background: #efefef
}

.navbar-default .navbar-nav>li.notifications a.dropdown-toggle.btn i {
    color: #444
}

.navbar-default .search-1 .input-group-addon {
    color: #ccc
}

.navbar-default .search-1 .form-control:active,.navbar-default .search-1 .form-control:focus,.navbar-default .search-1 .form-control:hover {
    background-color: #f7f7f7
}

.navbar-primary {
    background-color: #26a69a;
    border-color: #26a69a
}

.navbar-primary .navbar-brand,.navbar-primary .navbar-brand a {
    color: #fff
}

.navbar-primary .navbar-brand.navbar-brand-primary {
    background-color: #22958b
}

.navbar-primary .navbar-text {
    color: #fff
}

.navbar-primary .navbar-nav>li>a {
    color: #fff;
    font-weight: 500
}

.navbar-primary .navbar-nav>li>a:focus,.navbar-primary .navbar-nav>li>a:hover {
    background-color: #22958b
}

.navbar-primary .navbar-nav .open>a,.navbar-primary .navbar-nav .open>a:focus,.navbar-primary .navbar-nav .open>a:hover,.navbar-primary .navbar-nav>.active>a,.navbar-primary .navbar-nav>.active>a:focus,.navbar-primary .navbar-nav>.active>a:hover {
    background: #22958b
}

@media (max-width: 767px) {
    .navbar-primary .navbar-nav .dropdown-menu {
        background-color:#fff
    }
}

.navbar-primary .navbar-toggle {
    background-color: #22958b
}

.navbar-primary .navbar-toggle:focus,.navbar-primary .navbar-toggle:hover {
    background-color: #1e857b
}

.navbar-primary .navbar-toggle:focus .icon-bar,.navbar-primary .navbar-toggle:hover .icon-bar {
    background-color: #fff
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: #83e3da
}

.navbar-primary .navbar-nav>li.notifications a.dropdown-toggle .badge {
    background: #fff;
    color: #5e5e5e
}

.navbar-primary .navbar-nav>li.notifications a.dropdown-toggle.btn {
    background: #22958b
}

.navbar-primary .navbar-form .form-control {
    background: #22958b;
    border-color: #22958b;
    color: #fff
}

.navbar-primary .navbar-form .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.navbar-primary .navbar-form .form-control:-ms-input-placeholder {
    color: #fff
}

.navbar-primary .navbar-form .form-control::-webkit-input-placeholder {
    color: #fff
}

.navbar-primary .input-group-addon {
    background-color: #1e857b;
    border-color: #1e857b;
    color: #fff
}

.navbar-primary .navbar-form .checkbox,.navbar-primary .search-1 .input-group-addon {
    color: #fff
}

.navbar-primary .search-1 .form-control:active,.navbar-primary .search-1 .form-control:focus,.navbar-primary .search-1 .form-control:hover {
    background-color: #239a8e
}

.navbar-primary .btn-default {
    color: #fff;
    background-color: #26a69a;
    border-color: #1e857b
}

.navbar-primary .btn-default.active,.navbar-primary .btn-default.focus,.navbar-primary .btn-default:active,.navbar-primary .btn-default:focus,.navbar-primary .btn-default:hover,.open>.dropdown-toggle.navbar-primary .btn-default {
    color: #fff;
    background-color: #1c7d74;
    border-color: #13534d
}

.navbar-primary .btn-default.active,.navbar-primary .btn-default:active,.open>.dropdown-toggle.navbar-primary .btn-default {
    background-image: none
}

.navbar-primary .btn-default.disabled,.navbar-primary .btn-default.disabled.active,.navbar-primary .btn-default.disabled.focus,.navbar-primary .btn-default.disabled:active,.navbar-primary .btn-default.disabled:focus,.navbar-primary .btn-default.disabled:hover,.navbar-primary .btn-default[disabled],.navbar-primary .btn-default[disabled].active,.navbar-primary .btn-default[disabled].focus,.navbar-primary .btn-default[disabled]:active,.navbar-primary .btn-default[disabled]:focus,.navbar-primary .btn-default[disabled]:hover,fieldset[disabled] .navbar-primary .btn-default,fieldset[disabled] .navbar-primary .btn-default.active,fieldset[disabled] .navbar-primary .btn-default.focus,fieldset[disabled] .navbar-primary .btn-default:active,fieldset[disabled] .navbar-primary .btn-default:focus,fieldset[disabled] .navbar-primary .btn-default:hover {
    background-color: #26a69a;
    border-color: #1e857b
}

.navbar-primary .btn-default .badge {
    color: #26a69a;
    background-color: #fff
}

.navbar-primary .btn-primary {
    color: #fff;
    background-color: #22958b;
    border-color: #1e857b
}

.navbar-primary .btn-primary.active,.navbar-primary .btn-primary.focus,.navbar-primary .btn-primary:active,.navbar-primary .btn-primary:focus,.navbar-primary .btn-primary:hover,.open>.dropdown-toggle.navbar-primary .btn-primary {
    color: #fff;
    background-color: #196c64;
    border-color: #13534d
}

.navbar-primary .btn-primary.active,.navbar-primary .btn-primary:active,.open>.dropdown-toggle.navbar-primary .btn-primary {
    background-image: none
}

.navbar-primary .btn-primary.disabled,.navbar-primary .btn-primary.disabled.active,.navbar-primary .btn-primary.disabled.focus,.navbar-primary .btn-primary.disabled:active,.navbar-primary .btn-primary.disabled:focus,.navbar-primary .btn-primary.disabled:hover,.navbar-primary .btn-primary[disabled],.navbar-primary .btn-primary[disabled].active,.navbar-primary .btn-primary[disabled].focus,.navbar-primary .btn-primary[disabled]:active,.navbar-primary .btn-primary[disabled]:focus,.navbar-primary .btn-primary[disabled]:hover,fieldset[disabled] .navbar-primary .btn-primary,fieldset[disabled] .navbar-primary .btn-primary.active,fieldset[disabled] .navbar-primary .btn-primary.focus,fieldset[disabled] .navbar-primary .btn-primary:active,fieldset[disabled] .navbar-primary .btn-primary:focus,fieldset[disabled] .navbar-primary .btn-primary:hover {
    background-color: #22958b;
    border-color: #1e857b
}

.navbar-primary .btn-primary .badge {
    color: #22958b;
    background-color: #fff
}

.navbar-primary .bootstrap-switch {
    border-color: #208d83;
    box-shadow: none
}

.navbar-primary .bootstrap-switch .bootstrap-switch-label {
    background-color: #208d83
}

.navbar-primary .slider .slider-track {
    border: 1px solid #1e857b;
    background: #219187
}

.navbar-skin-cover {
    border-width: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,.01))
}

.navbar-skin-cover .navbar-brand,.navbar-skin-cover .navbar-brand a,.navbar-skin-cover .navbar-text,.navbar-skin-cover .toggle {
    color: #fff
}

@media (max-width: 767px) {
    .navbar-skin-cover .navbar-nav>li>a {
        font-weight:500;
        color: #7f7f7f
    }

    .navbar-skin-cover .navbar-nav>li>a i {
        color: #7f7f7f
    }

    .navbar-skin-cover .navbar-nav>li>a:hover i {
        color: #26a69a
    }
}

@media (min-width: 768px) {
    .navbar-skin-cover .navbar-nav>li>a {
        color:#fff
    }

    .navbar-skin-cover .navbar-nav .open>a,.navbar-skin-cover .navbar-nav .open>a:focus,.navbar-skin-cover .navbar-nav .open>a:hover {
        background-color: rgba(0,0,0,.3)
    }

    .navbar-skin-cover .search-1 .form-control,.navbar-skin-cover .search-1 .input-group-addon {
        color: #fff
    }

    .navbar-skin-cover .search-1 .form-control::-moz-placeholder {
        color: #fff;
        opacity: 1
    }

    .navbar-skin-cover .search-1 .form-control:-ms-input-placeholder {
        color: #fff
    }

    .navbar-skin-cover .search-1 .form-control::-webkit-input-placeholder {
        color: #fff
    }
}

.navbar-skin-cover .navbar-toggle .icon-bar {
    background-color: #fff
}

@media (max-width: 767px) {
    .navbar-skin-cover .navbar-collapse {
        background-color:#fff
    }
}