{% extends "layout/header.html" %}

{% block content %}
<!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
<div class="sidebar right sidebar-size-xs-1 sidebar-size-lg-48pc sidebar-size-40pc sidebar-offset-0 sidebar-skin-white" id="sidebar-map" data-toggle-layout="sidebar-r-48pc-lg,sidebar-r-40pc" data-toggle-bar="true" data-overlay=false>
	<div data-scrollable>
		<div class="sidebar-block sidebar-block-full padding-none">
		</div>
		<h4 class="category">Recently Posted Complaints</h4>
		<div class="sidebar-block padding-none">
			<div data-toggle="gridalicious" data-width="200">
				<!-- Per Complaint Listing -->
				<div class="panel panel-default">
					<div class="cover hover overlay margin-none">
						<div class="ribbon-mark">
							<span class="caret caret-primary"></span>
							<span class="text">New</span>
						</div>
						<a href="property.html" class="overlay overlay-full overlay-bg-black overlay-hover">
							<span class="v-center">
								<span class="btn btn-circle btn-white"><i class="fa fa-eye"></i></span>
							</span>
						</a>
						<a href="property.html">
							<img src="http://placehold.it/100x100" alt="location" class="img-responsive" />
						</a>
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<p>
								<span class="fa fa-fw fa-star text-yellow-800"></span>
								<span class="fa fa-fw fa-star text-yellow-800"></span>
								<span class="fa fa-fw fa-star text-yellow-800"></span>
								<span class="fa fa-fw fa-star-o text-yellow-800"></span>
								<span class="fa fa-fw fa-star-o text-yellow-800"></span>
							</p>
							<strong class="text-primary">Latitude, Longitude</strong>
						</div>
						<div class="list-group-item">
							<i class="fa fa-fw icon-home-fill-1"></i> Type of Complaint
						</div>
						<div class="list-group-item text-center">
							<a href="property.html" class="btn btn-primary"><i class="fa fa-fw fa-info"></i> Get Details</a>
						</div>
					</div>
				</div>
				<!-- End of per complaint listing -->
			</div>
		</div>
		<div class="sidebar-block equal-padding">
			<ul class="pagination margin-none">
				<li class="disabled"><a href="#">&laquo;</a>
				</li>
				<li class="active"><a href="#">1</a>
				</li>
				<li><a href="#">2</a>
				</li>
				<li><a href="#">3</a>
				</li>
				<li><a href="#">&raquo;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- sidebar effects OUTSIDE of st-pusher: -->
<!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->
<!-- content push wrapper -->
<div class="st-pusher">
	<!-- sidebar effects INSIDE of st-pusher: -->
	<!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
	<!-- this is the wrapper for the content -->
	<div class="st-content">
		<!-- extra div for emulating position:fixed of the menu -->
		<div class="st-content-inner padding-top-none" id="content">
			<div id="google-fs-realestate" data-toggle="google-maps" data-file="js/data/google_maps/markers-listing.json" data-zoom-position="LEFT_BOTTOM" class="maps-google-fs"></div>
			<div class="navbar navbar-default navbar-size-large navbar-static-top navbar-map-overlay">
				<a data-toggle="sidebar-menu" href="#sidebar-map" class="toggle pull-right hidden-xs margin-none"><i class="fa fa-list"></i></a>
				<div class="navbar-header">
					<div class="container-fluid">
						<div class="navbar-text pull-left"><i class="fa fa-fw fa-info"></i> Discover thousands of locations</div>
						<a class="toggle pull-right margin-none visible-xs" data-toggle="collapse" data-target="#map-nav"><i class="fa fa-sliders fa-rotate-90"></i></a>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="map-nav">
					<form class="navbar-form navbar-left">
						<div class="search-2">
							<div class="input-group">
								<input type="text" class="form-control form-control-w-150" placeholder="Search ..">
								<span class="input-group-btn">
									<button class="btn btn-inverse" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /st-content-inner -->
	</div>
	<!-- /st-content -->
</div>
<!-- /st-pusher -->

{% include "map.html" %}

{% endblock %}