{% extends "layout/header.html" %}{%load staticfiles %}{%load widget_tweaks %}
{% block content %}
{%if registered%}
<div class="jumbotron">
    <center>
    <h3>Thank you for registering with Gear Systems!</h3>
    <p>Return to <a href="/">homepage</a></p>
    </center>
</div>
{%else%}
<link rel="stylesheet" href="{% static 'css/datepicker.css'%}">
<script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
<div class="container">
 <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title" style="text-align:center;">Sign Up</div>
    </div>  
    <div class="panel-body" >{{profileform.media}}
        <form id="signupform" class="form-horizontal" role="form" action="" method="POST">{%csrf_token%}

            <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    {{userform.email|add_class:'form-control input-md'|attr:"placeholder:Email"}}
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-md-3 control-label">Username</label>
                <div class="col-md-9">
                    {{userform.username|add_class:'form-control input-md'|attr:"placeholder:Username"}}
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-md-3 control-label">First Name</label>
                <div class="col-md-9">
                    {{userform.first_name|add_class:'form-control input-md'|attr:"placeholder:First Name"}}
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-md-3 control-label">Last Name</label>
                <div class="col-md-9">
                     {{userform.last_name|add_class:'form-control input-md'|attr:"placeholder:Last Name"}}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                    {{userform.password|add_class:'form-control input-md'|attr:"placeholder:password"}}
                </div>
            </div>
            
            <div class="form-group">
                <label for="phoneNumber" class="col-md-3 control-label">Phone Number</label>
                <div class="col-md-9">
                     {{profileform.phoneNumber|add_class:'form-control input-md'|attr:"placeholder:Phone Number"}}
                </div>
            </div>
            
            <div class="form-group">
                <label for="dateofBirth" class="col-md-3 control-label">Date of Birth</label>
                <div class="col-md-9">
                     {{profileform.dateOfBirth|add_class:'form-control input-md'|attr:"placeholder:DD/MM/YYYY"|attr:"id:dob"}}
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-md-3 control-label">Address</label>
                <div class="col-md-9">
                     {{profileform.address|add_class:'form-control'|attr:"rows:4"}}
                </div>
            </div>
            <div class="form-group">
                <!-- Button -->                                        
                <div class="col-md-offset-3 col-md-9">
                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp; Sign Up</button>
                    <span>Already have an account? <a href="/login" class="btn btn-xs btn-warning">Sign in</a></span>
                </div>
            </div>

            <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                <div class="col-md-offset-3 col-md-9">
                    <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                </div>                                           

            </div>
        </form>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
                
                $('#dob').datepicker({
                    format: "mm/dd/yyyy"
                });  
            
            });
</script>
{%endif%}
{% endblock %}