{% extends "layout/header.html"%} {%block content %}
<div class="st-pusher">
    <div class="st-content">
        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner padding-top-none" id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                        <h4 class="page-section-heading">Post your Complaint</h4>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form action="" method="POST">{%csrf_token%}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-control-default">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control" name="title" id="title" placeholder="Title for complaint">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-control-default required">
                                        <label for="type">Type</label>
                                        <select class="selectpicker" data-style="btn-white" data-live-search="true" data-size="5" name="complaintype">
                                            <optgroup label="GovernmentCorps">
                                                <option value="MC">Muncipal</option>
                                                <option value="PC">Panchayat</option>
                                            </optgroup>
                                            <optgroup label="NGOCorps">
                                                <option value="CFI">CodeForIndia</option>
                                                <option value="ST">SaveTheTiger</option>
                                                <option value="SB">SwachhBharat</option>
                                                <option value="BL">BlahBlah</option>
                                            </optgroup>
                                            <optgroup label="others">
                                                <option value="dk">Dont Know</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" name="description">My Complaint is...</textarea>
                                    </div>
                                    <div class="form-group form-control-default">
                                        <label for="difficulty">Difficulty to solve the problem</label>
                                        <select name="difficulty" class="selectpicker" data-style="btn-white" data-live-search="true" data-size="5">
                                            <option value="0">Select one</option>
                                            <option value="1">Easy</option>
                                            <option value="2">Moderate</option>
                                            <option value="3">Difficult</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-control-default">
                                    	<label for="checkuser">Complain as anonymous?</label>
                                            <input type="checkbox" id="anonycheck" name="anonycheck">
                                    </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}