{% extends "layout/header.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                {% include "map.html" %}
            </div>
        </div>
    </div>
{% endblock %}